

.modal-login{
  .modal-header {
  }
  .form-control {
    padding: 0.5rem 0.75rem;

    height:56px;
  }
  .btn-blue-light{
    // border: 2px solid $danger;
    background: rgba(156,247,255,1);
    background: -moz-linear-gradient(top, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(156,247,255,1)), color-stop(100%, rgba(52,204,255,1)));
    background: -webkit-linear-gradient(top, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    background: -o-linear-gradient(top, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    background: linear-gradient(to bottom, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cf7ff', endColorstr='#34ccff', GradientType=0 );
    color:#19445f;
    text-transform: uppercase;
  }
}
.modal-login{
  .modal-header {
    border-bottom:1px solid #333333;
  }
  .form-control {
    height:45px;
    background-color: #333333;
    border-color: #333333;
    color: $light;
  }
  color: $light;
  .close {
    color: $light;
  }
}
.input-group--password,.input-group--username {
  position: relative;
  // .form-control {
  //   padding-left: 3rem;
  // }

  .input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    // bottom: 0;
    padding: 0.5rem 1rem;
  }
}
.form-control {
  border-radius: 0.75rem;
}
.btn-lg {
  border-radius: 0.75rem;
}
