

html {
  height: 100%;
}

body {
  height: auto;
  background-repeat: no-repeat;
  // background-size:cover;
  background-color: #000000;
  color: $dark;
  overflow-x: hidden;
}

.gametv-main {
  min-height: 100%;
}


.gametv-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.gametv-subtitle {
  font-size: 1rem;
  font-weight: bold;
}


.gametv-group {
  display: flex;

  >a,
  >button {
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


button.close {
  opacity: 1;
  outline: none;

  .gametv-icon {
    font-weight: inherit;
  }
}


.list-unstyled {
  margin-bottom: 0;
}
button:focus {
  outline: none;
}
.border-radius-025{
  border-radius: 0.25rem;
}

.border-radius-05{
  border-radius: 0.5rem;
}
.border-radius-1{
  border-radius: 1rem;
}
.gapo-box {
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  -moz-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  box-shadow: 0 1px 3px rgba(26,26,26,.3);
  padding: .75rem;
  margin-bottom: .75rem;
  background-color: $light;
}
.post-more{
  color: $dark;
}
.dark-mode{
  body{
    background-color:$dark;
    color: $light;
  }
  .post-more{
    color: $white;
  }
}
.modal-content{
  background-color: $light;
  border-radius: 1rem;
}
.category{
  .gapo-box{
    padding: 0.5rem .5rem;
    border-radius: .5rem;
    box-shadow: 0 0px 0px rgba(26, 26, 26, 0.3);
  }
}
.category-subtitle{
  font-weight:bold;
  color:$dark;
  font-size:0.75rem;
}
.more-tag{
    background-color: $white;
    color: $dark;
    align-items: baseline;
    margin-bottom:0.5rem;
    .tag__item{
      padding: .25rem;
      border-radius: 0.5rem;
      margin-left:0.5rem;
    }
  }
  .gametv-title{
    color:$dark;
  }
.dark-mode{
  .gametv-title{
    color:$white;
  }
  .more-tag{
    background-color: $dark;
    
  }
  body {
    height: 100%;
    background-color: $dark;
    color: $dark;
  }
  .modal-content{
    background-color: #232323;
  }
  .gapo-box {
    background-color: #232323;
  }
  .border-bottom{
    border-bottom: 1px solid #695757 !important;
  }
  .category-subtitle{
    font-weight:bold;
    color:$white;
  }
  .form-control-borderless {
    border: none;
}

  .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
      border: none;
      outline: none;
      box-shadow: none;
  }
  .more-tag{
    color: $light;
  }
}
.back-top{
  position:fixed;
  right:20px;
  bottom:20px;
  width:50px;
  height:50px;
}
.box-search{
  position: absolute ;
  top:-5px;
  z-index:10;
  left:0;
  right:0;
  display:none;
  background-color : #ed1c24;
  padding: 0.5rem 0; 
}

.btn-auto{
  box-shadow: 0px 0px 10px #000000;
  border-radius:10px;
  
  .btn{
      padding: 0.2rem 0.75rem;
      font-size:1.5rem;
      width:40px;
      height:40px;
      padding: 0.25rem 0;
      
  }
}
.bg__overlay{
  display:none;
  position:absolute;
  top:-75px;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.5);
  z-index:11;
}
.menu__wraper{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  // background-color:#c90000;
  background-color: #040d2b;
  z-index:11;
}
.mobile-menu-list{
  list-style: none;
  padding: 4rem 0 0 0;
  margin:0;
  .menu-item{
    display:table;
    width:100%;
    border-bottom: 1px solid #1e3362;
  }
  .menu-has-children{
    position: relative;
  }
  .menu-item-name{
    
    // display:block;
    padding: 0.75rem 0.75rem;
    font-weight:bold;
    width: 85%;
    display: inline-block;
    color: #fff;
  }
  .sub-menu-list{
    border-top: 1px solid #df6666;
    list-style: none;
    padding: 0;
    margin:0;
    padding-inline-start: 0px;
    display:none;
    background-color:#b00000;
    .menu-item{
      padding: 0.75rem 2rem;
    }
  }
  .menu-toggle{
    // position:absolute;
    color:$white;
  }
  .icon-toggle{
    img{
      transform: rotate(-180deg)
    }
    
  }
  .current-toggle{
    img{
      transform: rotate(0)
    }
  }
}
.close-menu{
  width:44px;
  height:44px;
  position:absolute;
  left:10px;
  top:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:$white;
  background:#c90000;
  font-size:20px;
  font-weight:bold;
}
.w-60{
  width:80%;
}
.w-70{
  width:80%;
}
.w-80{
  width:80%;
}
.modal-content {
  width: 95%;
  margin: auto;
}
.post_sugget {
  background: #e1e1e1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a{
    color:$dark !important;
  }
  li{
    &:before {
      content: '';
      width: 7px;
      height: 7px;
      background: #ED1C24;
      border-radius: 30px;
      display: inline-block;
      margin-right: 10px;
      position: relative;
      bottom: 2px;
    }
  }
}
.more-info{
  display:flex;
  border-top:1px solid #dcdde3;
  border-bottom:1px solid #dcdde3;
  width:100%;
}
.text-gray-3{
  color :#8a8e9e;
}

.tour-video,.list-news-video{ 
  padding-left: 10px;
  padding-right: 10px;
}

.tour-header{
  border-bottom: 5px solid $danger;
  padding: 0 0 0.5rem 0;
}
.list-news-video__header{
  border-bottom: 3px solid $danger;
  padding: 0 0 0.75rem 0;
}
.part{
  // width: 50px;
  font-size : 0.675rem;
  background-color: #8a8e9e;
  color: #ffffff;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.25rem 0.35rem;
  margin-bottom: 0.25rem;
}
.part.active,.part-tag.active{
  background-color: $danger !important;
  color: #ffffff !important;

}
.series-icon,.tour-tag-icon{
  font-size: 1rem;
  font-weight: bold;
}
.tour-more{
  font-weight: bold;
  color: #6c7183;
}
.part-tag{
  padding: 0 0.5rem;
  height: 30px;
  background-color: #dcdde3;
  color: #000000 !important;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.675rem;
}
.thumb-video{
  position: relative;
  .icon-video{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width:28px;
    height: 35px;
    margin:auto;
  }
}
.series-icon img{
  width:22px;
}
.tour-tag-icon {
  font-size: 0.675rem;
  font-weight: bold;
}
.post-mobi img {
  max-width: 100%;
  height: auto;
}

.section--1,.section--2{
  position: relative;
}

.bg_section1 img,.bg_section2 img{
  width:100%;
  // height: 110vh;
  object-fit: cover;
}
.play img{
  position: absolute;
  bottom:55vh;
  // left: 0;
  right: 5vh;
  width: 60px;
  margin:auto;
  animation: pulse 1s infinite linear;
}
.btnNhanthuong img{
  position: absolute;
  bottom:2vh;
  left: 0;
  right: 0;
  margin:auto;
}
.user-info{
  color:#FFFFFF;
  position: absolute;
  top:3vh;
  left: 20px;
  right: 0;
}
.list-btn-spin{
  position: absolute;
  top:8vh;
  right: 20px;

  ul{
    li{
      display: inline;
      img{
        max-width: 100px;
      }
    }
  }
}
.vip-item{
  img{
    max-width: 140px;
  }
}
.vip-item:nth-child(1){
  position: absolute ;
  top:150px;
  right: 51%;
}
.vip-item:nth-child(2){
  position: absolute ;
  top:180px;
  left: 51%;
}
.vip-item:nth-child(3){
  position: absolute ;
  top:290px;
  right: 51%;
}
.vip-item:nth-child(4){
  position: absolute ;
  top:320px;
  left: 51%;
}
.vip-item:nth-child(5){
  position: absolute ;
  top:430px;
  right: 51%;
}
.vip-item:nth-child(6){
  position: absolute ;
  top:460px;
  left: 51%;
}
.section--2{
  .btnNhanthuong img{
    position: absolute ;
    top:550px;
    left: 0;
    right:0;
    margin:auto;
    animation: pulse 1s infinite linear;
  }
}
.section--3{
  position: relative;
}
.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-slide{
    
  }
  .swiper-title{
    img{
      position: absolute ;
      top:20px;
      left: 0;
      right:0;
      margin:auto;
      animation: pulse 1s infinite linear;
    }
  }
  .swiper-body{
    img{
      width: 100%;
    }
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}
.section--4{
  position: relative;
  height: 100vh;
  width: 100vw;
}
.swiper-container-2 {
  position: absolute ;
  width:80vw;
  top:220px;
  left: 0;
  right:0;
  margin:auto;
  .swiper-slide{
      img{
        max-width: 100%;
      }
  }
  .swiper-slide-active{
    border: 1px solid #a38a5a;
    padding:10px;
  }

}
.swiper-title-2 img{
  position: absolute ;
  top:80px;
  left: 0;
  right:0;
  margin:auto;
}
.footer_mobi{
  position: relative;
  top:-10px;
  height: 90px;
  background-image: url("../images/landing/bgFooter.png");
  background-size: 100% 100%;
  // background-color:#000;
  background-repeat: no-repeat;
  background-position:  center top;
  .col{
    img{
      display: block;
      margin:20px auto;
    }
  }
}


.modal-content{
  background-color: $light;
  border-radius: 1rem;
}
.tour-video,.list-news-video{
  color: $dark;
}

.modal {
  // .modal-body {
  //   padding: 2.5rem;

  // }

  .modal-dialog {
    max-width: 542px;
    min-height: 642px;
  }
}
body{
  .modal-content{
    background-image: url("../images/kynguyenz/modal/bgForm.png");
    background-repeat: no-repeat;
    background-position:top center;
    min-height: 642px;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius:5px;
    overflow: hidden;
    .modal-header{
      color:#deca7a;
      text-align: center;
      .close{
        color:#deca7a;
      }
    }
  }

  .gapo-box {
    background-color: #232323;
  }
  .border-bottom{
    border-bottom: 1px solid #695757 !important;
  }
  .tour-video,.list-news-video{
    color: $white;
  }
}
.modal-rules{
  .modal-dialog {
    max-width: 962px;
  }
  .modal-content{
    background-image: url("../images/kynguyenz/modal/bgForm4.png");
    background-repeat: no-repeat;
    background-position:top center;
    min-height: 652px;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;

    .modal-header{
      color:#deca7a;
      text-align: center;
      .close{
        color:#deca7a;
      }
    }
    .modal-body{
      // padding-right: 200px !important;
      height: 480px;
      overflow-y: auto;
      .title{
        color: #deca7a;
        font-weight: bold;
        font-size: 20px;
      }
    }

  }
}
.history-item{
  display: flex;
  justify-content: space-between;
  border-bottom :1px solid #343e44;
  align-items: center;
  padding-bottom:5px;
  .media{
    display: flex;
    justify-content: start;
    align-items: center;
    span{
      color:#deca7a;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .time{
    font-size: 16px;
  }
}
.nav-pagination{
  border-radius: 0;
  .page-item:first-child .page-link {
    border-radius: 0;
  }
  .page-item:last-child .page-link {
    border-radius: 0;
  }
  .page-link {
    background-color: #142232;
    border: 1px solid #192b3f;
  }
}

.swiper-hero{
  .desktop{
    max-width: 100%;
  }
}


.section-hero{
  position: relative;

  .swiper-pagination-bullet {
    width: 15vw;
    height: 15vw;
    margin:0 10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    display: inline-block;
    outline: 0;

  }
  .swiper-pagination-hero{
    position: absolute;
    top:10vh;
    right: 10%;
    z-index: 1000;
  }
  .swiper-pagination-bullet:nth-child(1){
    background: url("../images/web/paging_class1_no.png") no-repeat;
    background-size: 15vw;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(1){
    background: url("../images/web/paging_class1.png") no-repeat;
    background-size: 15vw;
  }
  .swiper-pagination-bullet:nth-child(2){
    background: url("../images/web/paging_class2_no.png") no-repeat;
    background-size: 15vw;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(2){
    background: url("../images/web/paging_class2.png") no-repeat;
    background-size: 15vw;
  }
  .swiper-pagination-bullet:nth-child(3){
    background: url("../images/web/paging_class3_no.png") no-repeat;
    background-size: 15vw;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(3){
    background: url("../images/web/paging_class3.png") no-repeat;
    background-size: 15vw;
  }
  .swiper-pagination-bullet:nth-child(4){
    background: url("../images/web/paging_class4_no.png") no-repeat;
    background-size: 15vw;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(4){
    background: url("../images/web/paging_class4.png") no-repeat;
    background-size: 15vw;
  }
  .swiper-button-next{
    position: absolute;
    top:50vh;
    right: 0%;
    z-index: 1000;
    display: flex;
    outline: 0;
    transform: scale(0.5);
  }
  .swiper-button-prev{
    position: absolute;
    top:50vh;
    left: 0%;
    z-index: 1000;
    display: flex;
    outline: 0;
    transform: scale(0.5);
  }
  .wrapper-video{
    width:10vw;
    height: 10vw;
    position: absolute;
    left:20%;
    top:24vh;
    z-index: 1000;
    display: none;
  }
  .swiper-slide{
    visibility: hidden;
  }
  .swiper-slide.swiper-slide-active{
    visibility: visible;
  }
  .swiper-slide-active{
    .wrapper-video{
      z-index: 1010;
      display: flex;
    }
  }
  // .swiper-pagination-bullet-active {
  //   color: #fff;
  //   background: #007aff;
  // }

}
.section--4{
  position: relative;
}
.section--2 {
  // height: 20vh;
  // padding-top: 35px;
  // background-color: #06092a;

  .content-news {
    width: 96vw;
    margin: 0px auto;
    align-items: unset;
    justify-content: space-between;
    // transform: scale(0.75);
    background-image: url("../images/web/bg_news.png");
    background-size:  100% 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 96vh;
    position: relative;
    top: -30px;
    z-index: 1010;
    .banner-swiper {
      width: 96vw;
    }
    .banner-frame {
      width: 96vw;
      margin-top:26px;
      overflow: hidden;
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }
    .posts {
      width: fit-content;
      position: relative;
      ul {
        list-style: none;
        margin:0;
        padding:0;
        li{
          display: inline-block;
          a{
            color: #658aa2;
          }

        }
      }
    }
    .posts__view{
      margin: 15px 20px 0px 20px;
      border-top:1px solid #a38a59;

      a{
        color: #658aa2;
        text-align: center;
        display: block;
        text-transform: uppercase;
        padding : 15px 0px;
      }
    }
    .posts__tab {
      width: 100%;
      // background-color: #671e1d;
      background-image: url("../images/web/bg_navbar_news.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      height: 45px;
      border-radius: 15px;
      margin-bottom: 10px;
      list-style: none;
      margin:0px 0 15px 0 !important;
      padding:0 0 20px 0px !important;
      display: flex;

      li{
        flex: 1;
        display: inline-block;
        a{
          text-align: center;
          display: block;
          font-size: 14px;

          text-transform: uppercase;
        }

      }

    }
    .posts__tab a.active, .section--2 .content-news .posts__tab a:hover {
      color: #deca7a;
      font-weight: 700;
    }
    .posts__list .posts__post-title {
      color: #dbdbdb;
      font-size: 14px;
      padding-left: 25px;
      height: 42px;
      position: relative;
    }
    .posts__list li {
      width: 100%;
      padding: 8px 17px;
    }
    .posts__post-title {
      color: #dbdbdb;
      font-size: 14px;
      padding-left: 26px;
      height: 42px;
      line-height: 20px;
      position: relative;
    }
    .posts__list .posts__post-title::before {
      content: '';
      background-image: url("../images/web/icon-list.png");
      background-position: 0px 0px;
      width: 16px;
      height: 15px;
      position: absolute;
      left: 0;
      top: 8px;
      transform: translateY(-50%);
    }

  }
  .swiper-pagination {
    text-align: right;
    width: 98%;
    position: relative;
    top: -30px;
    z-index: 100;
  }
  .swiper-pagination-bullet {
    background-image: url(../images/web/paging.png);
    background-position: center center;
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 1;
    text-indent: -9999px;
    margin: 0px 10px 0px 0px;
}
  .swiper-pagination-bullet-active {
    background-image:url(../images/web/paging_active.png);
    background-position: center center;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1025px){
  .section--2 .content-news {
    width: 96vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
.section--3,.section--4{
  position: relative;
  top:-60px;
  z-index: 10;
}
.section--list{
  background-color: #06092b;
  min-height: 100vh;
  padding-top: 20px;;
}

.news-item{
  width:94vw;
  margin:20px auto;
  border-bottom: 1px solid #433925;
  display: flex;
  flex-direction: column;
  .media{
    img{
      max-width:100%;
    }
  }
  a.news-title{
    color:#dcc979;
    font-size:16px;
    font-weight: 700;
  }
  .news-more{
    display: flex;
    width:100%;
    color :#dcc979;
    align-items: center;
    .badge{
      padding :5px 15px;
      border-radius: 3px;
      color: #06092b;
      text-transform: uppercase;
      display: flex;
      background-color :#dcc979;
    

    }
  }
}
.title-more{
  font-size:16px;
  font-weight: 700;
  color :#dcc979;
  padding-left:20px;
  padding-bottom: 5px;
  // border-top:1px solid #dcc979;
}

.posts__list .posts__post-title {
  
  color: #dbdbdb;
  font-size: 14px;
  padding-left: 25px;
  height: 42px;
  position: relative;
}
.posts__list li {
  width: 100%;
  padding: 8px 17px;
}
.posts__post-title {
  color: #dbdbdb;
  font-size: 14px;
  padding-left: 25px;
  height: 42px;
  position: relative;
}
.posts__list .posts__post-title::before {
  content: '';
  background-image: url("../images/web/icon-list.png");
  background-position: 0px 0px;
  width: 16px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 2px;
  // transform: translateY(%);
}