{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
<div class="row justify-content-center">
  <div class="container">
      <div class="section--1">
        <div class="bg_section1">
          <img src="assets/images/web/webList.jpg"  alt="">
        </div>       
      </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="container">
      <div class="section--list pb-4">
            <div class="list-more">
                <div class="title-more">
                    Tin gần đây
                </div>
                <ul class="posts__list list-unstyled m-0">
                    <li>
                        <a class="posts__post-title flex" href="#" title="26/08: Ra mắt phiên bản chính thức - Open Beta">
                        <span>26/08: Ra mắt phiên bản chính thức - Open Beta
                            </span></a>
                    </li>
                    <li>
                        <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/10-00-21-08-alpha-test-mo-may-chu-s2-nhat-nguyet.html" title="10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt">
                        <span>10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt
                            </span></a>
                    </li>
                    <li>
                        <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/trai-nghiem-alpha-nhan-code-beta-cuc-da.html" title="Trải nghiệm Alpha - Nhận Code Beta cực đã">
                        <span>Trải nghiệm Alpha - Nhận Code Beta cực đã
                            </span></a>
                    </li>
                    <li>
                        <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cach-nap-nguyen-bao.html" title="Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG" rel="nofollow">
                        <span>Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG
                            </span></a>
                    </li>
                    <li>
                        <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cai-dat-bang-gia-lap-tren-may-tinh.html" title="Cập nhật file APK Tân Tiếu Ngạo VNG" rel="nofollow">
                        <span>Cập nhật file APK Tân Tiếu Ngạo VNG
                            </span></a>
                    </li>
                    </ul>
                </div>
      </div>
  </div>
</div>

{# {% include "./components/login-modal.njk" %}
{% include "./components/register-modal.njk" %}

 {% include "./components/box-search.njk" %} #}
 {# {% include "./components/menu-mobi.njk" %} #}
{# <button onclick="topFunction()" id="backTop" class="btn btn-md btn-danger rounded-circle back-top" title="Go to top">
  <img src ="assets/images/png-icons/icon-up.png" width ="18" />
</button> #}
{% endblock %}
