{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
<div class="row justify-content-center">
  <div class="container">
      <div class="section--1">
        <div class="bg_section1">
          <img src="assets/images/web/webList.jpg"  alt="">
        </div>       
      </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="container">
      <div class="section--list pb-4">
        <div class="news-item">
            <a herf="#" class="media">
                <img src="assets/images/web/news.jpg"  alt="">
            </a>
            <a herf="#" class="news-title my-2">
                Fusce eu erat pulvinar risus sollicitudin pulvinar
            </a>
            <div class="news-more mb-3">
                <span class="badge mr-2">Tin tức</span>
                <span class="date">08/08/2020</span>
            </div>
        </div>
        <div class="news-item">
            <a herf="#" class="media">
                <img src="assets/images/web/news.jpg"  alt="">
            </a>
            <a herf="#" class="news-title my-2">
                Fusce eu erat pulvinar risus sollicitudin pulvinar
            </a>
            <div class="news-more mb-3">
                <span class="badge mr-2">Tin tức</span>
                <span class="date">08/08/2020</span>
            </div>
        </div>
        <div class="news-item">
            <a herf="#" class="media">
                <img src="assets/images/web/news.jpg"  alt="">
            </a>
            <a herf="#" class="news-title my-2">
                Fusce eu erat pulvinar risus sollicitudin pulvinar
            </a>
            <div class="news-more mb-3">
                <span class="badge mr-2">Tin tức</span>
                <span class="date">08/08/2020</span>
            </div>
        </div>
        <div class="news-item">
            <a herf="#" class="media">
                <img src="assets/images/web/news.jpg"  alt="">
            </a>
            <a herf="#" class="news-title my-2">
                Fusce eu erat pulvinar risus sollicitudin pulvinar
            </a>
            <div class="news-more mb-3">
                <span class="badge mr-2">Tin tức</span>
                <span class="date">08/08/2020</span>
            </div>
        </div>
      </div>
  </div>
</div>

{# {% include "./components/login-modal.njk" %}
{% include "./components/register-modal.njk" %}

 {% include "./components/box-search.njk" %} #}
 {# {% include "./components/menu-mobi.njk" %} #}
{# <button onclick="topFunction()" id="backTop" class="btn btn-md btn-danger rounded-circle back-top" title="Go to top">
  <img src ="assets/images/png-icons/icon-up.png" width ="18" />
</button> #}
{% endblock %}
