{% extends "./post/_layout.njk" %}

{% block postAttachments %}
<a class="post-item__attachment post-item__attachment--link text-dark" href="/">
  <div class="post-link__thumbnail gapo-thumbnail gapo-thumbnail--16x9"
    style="background-image: url(http://media.beat.vn/image/1804/3ec18774bee53f5c0238bfc866378115.jpg)">
    <img src="http://media.beat.vn/image/1804/3ec18774bee53f5c0238bfc866378115.jpg" alt="" class="img-fluid">
  </div>
  <div class="post-link__info">
    <div class="post-link__title">
      Gravity is an irresistible force. While it is certainly nice that it keeps us rooted to the planet, it also has a
      hab…
    </div>
    <small class="post-link__source">
      BEAT.VN
    </small>
  </div>
</a>
{% endblock %}
