<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {# <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <title>{{pageTitle}}</title>
  <!-- build:css ./assets/styles/style.css -->

  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
  <!-- endbower -->
  <link href="./assets/styles/animate.css" rel="stylesheet">
  <link href="./assets/styles/swiper.css" rel="stylesheet">
  <link href="./assets/styles/bootstrap.css" rel="stylesheet">
  <link href="./assets/styles/style.css" rel="stylesheet">
  <!-- endbuild -->

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&amp;subset=latin-ext,vietnamese"
    rel="stylesheet">

</head>

<body>
  {% include "../shared/header-mobi.njk" %}

  <main class="gametv-main row">
    {# <div class="col col-256">
      <div class="aside__wrapper">
        {% include "../components/left-sidebar.njk" %}
      </div>
    </div> #}
    <div class="col">
      {% block content %}{% endblock %}
    </div>
    {# <div class="col col-256">
      <div class="aside__wrapper">
        {% include "../components/right-sidebar.njk" %}
      </div>
    </div> #}
  </main>


  <!-- build:js ./assets/scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/popper.js/dist/umd/popper.js"></script>
  <script src="/bower_components/bootstrap/js/dist/util.js"></script>
  <script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
  <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
  <script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
  <script src="/bower_components/bootstrap/js/dist/tab.js"></script>
  <script src="/bower_components/slick-carousel/slick/slick.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js ./assets/scripts/main.js -->
  <script src="./assets/scripts/swiper-bundle.min.js"></script>
  <script src="./assets/scripts/main.js"></script>
  <!-- endbuild -->

</body>

</html>
