@font-face {
font-family: "<%= fontName %>";
src: url('#{$font-path}/<%= fontName %>.eot');
src: url('#{$font-path}/<%= fontName %>.eot?#iefix') format('eot'),
url('#{$font-path}/<%= fontName %>.woff2') format('woff2'),
url('#{$font-path}/<%= fontName %>.woff') format('woff'),
url('#{$font-path}/<%= fontName %>.ttf') format('truetype'),
url('#{$font-path}/<%= fontName %>.svg#<%= fontName %>') format('svg');
font-weight: normal;
font-style: normal;
}

.<%= className %>{
display: inline-block;
font-family: "<%= fontName %>";
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;


.icon-lg {
font-size: 1.3333333333333333em;
line-height: 0.75em;
vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
width: 1.2857142857142858em;
text-align: center;
}


<% _.each(glyphs, function(glyph) { %>&.icon-<%= glyph.name %>:before { content:
"\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
<% }); %>
}
