<div class="post-item__actions gapo-group">
  <a href="" class="active">
    <i class="gapo-icon icon-like mr-1"></i>
    Thích
  </a>
  <a href="">
    <i class="gapo-icon icon-comment-alt mr-1"></i>
    Bình luận
  </a>
  <a href="">
    <i class="gapo-icon icon-share-alt mr-1"></i>
    Chia sẻ
  </a>
</div>
